<div id="bookListWrapper" ng-app="myApp" ng-controller="DashboardController">
    <div class="inputform">
        <form>
            <div ng-repeat="item in storedData" class="inv-card">
                <div class="form-group">
                    <label for="number">Number:</label>
                    <input name="number" type="text" ng-model="item.number" class="form-control"
                        placeholder="{{item.number}}" required>
                </div>
                <div class="form-group">
                    <label for="item">Item:</label>
                    <input name="item" type="text" ng-model="item.item" class="form-control" placeholder="{{item.item}}"
                        required>
                </div>
                <div class="form-group">
                    <label for="value">Value:</label>
                    <input name="value" type="text" ng-model="item.value" class="form-control"
                        placeholder="{{item.value}}" required>
                </div>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input name="title" type="text" ng-model="item.title" class="form-control"
                        placeholder="{{item.title}}" required>
                </div>
                <div class="form-group">
                    <label for="remarks">Remarks:</label>
                    <input name="remarks" type="text" ng-model="item.remarks" class="form-control"
                        placeholder="{{item.remarks}}" required>
                </div>
                <img ng-src="{{item.imgUrl}}" alt="{{item.name}}" class="card-image">
                <hr>
            </div>
        </form>
        <div class="book-details clearfix">
            <button class="btn btn-primary" ng-click="Edit()">Edit</button>
            <button class="btn btn-info pull-right" ng-click="goBack()">Go Back</button>
        </div>
    </div>
</div>
















</ul>
</div>

</div> -->