<div id="bookListWrapper" ng-app="myApp">
    <div class="inputform">
        <form>
            <div class="inv-card">
                <div class="form-group">
                    <label for="number">Number:</label>
                    <input name="number" type="text" ng-model="selectedTile.number" class="form-control"
                        placeholder="{{selectedTile.number}}" required>
                </div>
                <div class="form-group">
                    <label for="item">Item:</label>
                    <input name="item" type="text" ng-model="selectedTile.item" class="form-control"
                        placeholder="{{selectedTile.item}}" required>
                </div>
                <div class="form-group">
                    <label for="value">Value:</label>
                    <input name="value" type="text" ng-model="selectedTile.value" class="form-control"
                        placeholder="{{selectedTile.value}}" required>
                </div>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input name="title" type="text" ng-model="selectedTile.title" class="form-control"
                        placeholder="{{selectedTile.title}}" required>
                </div>
                <div class="form-group">
                    <label for="remarks">Remarks:</label>
                    <input name="remarks" type="text" ng-model="selectedTile.remarks" class="form-control"
                        placeholder="{{selectedTile.remarks}}" required>
                </div>
                <img ng-src="{{selectedTile.imgUrl}}" alt="{{selectedTile.name}}" class="card-image">
                <hr>
            </div>
        </form>
        <div class="book-details clearfix">
            <button class="btn btn-primary" ng-click="Edit()">Edit</button>
            <button class="btn btn-info pull-right" ng-click="goBack()">Go Back</button>
        </div>
    </div>
</div>