<div class="LoginPage" ng-controller="myController">
    <h2>Welcome to Login Page </h2>
    <form name="loginForm" ng-submit="loginButton()">
        <div class=" form-group">
            Username:
            <input ng-model="loginData.username" type="text" placeholder="Enter your username" required autofocus />
        </div><br>

        <div class="form-group">
            Password:
            <input ng-model="loginData.password" type="password" required />
        </div>
        <p class="forgot-pwd">
            <a href="#">Forgot your password? </a>
        </p>
        <button type="Submit" class="Login-button" ng-click="loginButton()">Login</button>
    </form>
</div>