* {
    font-family: 'Urbanist', sans-serif;
}

@media only screen and (max-width: 600px) {
    div.example {
        font-size: 30px;
    }
}

body {
    background-color: #ffffff;
}

.LoginPage {
    padding: 30px;
    width: 600px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #d7d7d7;
    margin-top: 12rem;
    font-family: monospace;
    font-size: larger;
    color: white;
    border-radius: 12px;
    background: white;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    background: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%);
}

.LoginPage a {
    color: whitesmoke;
    font-size: large;
}

.LoginPage input[type=text] {
    width: 30%;
    height: 40%;
}

.LoginPage input[type=password] {
    margin-left: 0.5rem;
    width: 30%;
    height: 40%;
}


.Login-button {
    appearance: button;
    background-color: #4D4AE8;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #4D4AE8;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.Login-button :focus:not(:focus-visible),
.Login-button :focus {
    outline: 0;
}

.Login-button :hover {
    background-color: #3733E5;
    border-color: #3733E5;
}

.Login-button :focus {
    background-color: #413FC5;
    border-color: #3E3BBA;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.Login-button :active {
    background-color: #3E3BBA;
    background-image: none;
    border-color: #3A38AE;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.Login-button active:focus {
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.Login-button:disabled {
    background-image: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}


.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.widget {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.chart-container {
    width: 100%;
    max-width: 400px;
}

.DashboardApp {
    font-family: Arial, sans-serif;
    width: 100%;
}

.DashboardApp img {
    margin-left: 10px;
}

#logo {
    width: 40px;
    height: auto;
    margin-right: 10px;

}

.DashboardApp h1 #logo {
    vertical-align: middle;
}



.navbar {
    background-color: #180953;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff !important;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: x-large;

}

.navbar-nav {
    width: 100%;
    display: flex;
    margin-left: 20%;
    justify-content: space-between;
    justify-items: center;
    display: flex;
    align-items: center;
}


.container {
    max-width: 1200px;
    justify-content: center;
    height: 50px;
}

.container li, a {
    justify-content: center;
}


canvas.chart {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}


.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
}


.charts {
    width: 30%;
    height: auto;
    margin-top: 2rem;
}

.Charts {
    display: flex;
    overflow-y: visible;
    align-items: center;
    margin-inline-start: 10rem;
    justify-content: space-evenly;
}

#barChart {
    max-height: 90%;
    max-width: 20%;
}

#chartId {
    max-height: 40%;
    max-width: 30%;
}

#dchart {
    max-height: 40%;
    max-width: 30%;
}

.dashboard-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    height: auto;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    margin-top: 2rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 35px 33px 22px 8px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

}

.dashboard-card h5 {
    color: #333;
}

.dashboard-card p {
    color: #666;
    font-size: smaller;

}



#navbarNav li {
    justify-content: center;
    align-items: center;

}

.user-info {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-top: 14px;
}

.user-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.small-card {
    width: 300px;
    height: 150px;
    border: 1px solid #ddd;
    display: inline-block;
    border-radius: 18px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-inline-start: 12%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: black;
    /* background: linear-gradient(150deg, #39ef74, #4600f1 100%); */

}

.small-card :hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.small-card .card-body {
    /* padding: 15px; */
    /* padding-bottom: 40px;
    margin-bottom: 20px; */
}

.card-item {
    font-size: 14px;
    font-weight: bold;
}

.card-title {
    font-weight: bold;
    font-size: 1rem;
    padding-top: -2rem;
    padding-bottom: 20px;
    color: rgb(0, 108, 0);
}

.jumbo-title {
    font-weight: bold;
    font-size: 1rem;
    padding-top: -2rem;
    padding-bottom: 20px;
}

.card-value {
    font-style: italic;
    font-weight: bold;
    padding-left: 80%;
    padding-top: -10px;
    color: rebeccapurple;
}

.small-card p {
    font-size: 14px;
    margin-bottom: -1.4rem;
}

.card-remarks {
    font-style: italic;
    font-size: larger;
}



.Error404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #777777;
}

.Error404 h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.Error404 p {
    font-size: 1.5em;
}

#bookListWrapper {
    width: 100%;
    padding: 10px;
}



#bookListWrapper .book {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}

#bookListWrapper .book .book-details {
    margin-left: 160px;
}

.book-details h3 {
    color: #333;
}

.book-details p {
    color: #555;
}

.book-details button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-details button:hover {
    background-color: #297fb8;
}

.book img {

    max-width: 100%;
    height: auto;
    float: left;
    margin-right: 40px;
    border-radius: 5px;
    ;
}

.book {
    list-style: none;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100px;
    height: auto;
}

.text-editor {
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 1rem;
    width: 80%;
    padding-left: 2rem;
}


.inputform ::placeholder {
    color: black;
}

.input-with-padding {
    padding-left: 10px;
}

.gender {
    max-width: 10%;
    height: auto;

}

.myForm input[type="text"],
.myForm input[type="number"],
.myForm input[type="date"] {
    width: 100%;
}

.inputform {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
}

.inv-card {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.card-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.book-details {
    margin-top: 20px;
}



.card-list {
    display: inline-block;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-list {
    margin-right: 20px;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}